.nav-banner article {
    width: 100%;
    height: 100%;
    left: 100%;
    display: inline-block;
    position: absolute;
    z-index: 80;
    overflow: hidden;
    background-color: gray;
}

.nav-banner article img{
    position:relative;
}
.nav-banner {
    overflow: hidden;
}

.nav-banner .left-button,
.nav-banner .right-button
{
    width: 100px;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
    display: table;
    z-index: 100;
}

.nav-banner .left-button span,
.nav-banner .right-button span {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

.nav-banner .left-button {
    left: 0;
    color: #E8EAF6;
    font-size: 30px;
    background: linear-gradient(to right, rgba(16,16,16,0.5) 0%, rgba(16,16,16,0) 100%);
}

.nav-banner .right-button {
    right: 0;
    float: right;
    color: #E8EAF6;
    font-size: 30px;
    
    background: linear-gradient(to left, rgba(16,16,16,0.5) 0%, rgba(16,16,16,0) 100%);
}

.banner-indicators {
    border-radius: 3px;
    background-color: #E8EAF6;
    width: 20px;
    height: 8px;
    display: inline-block;
    margin-top: 250px;
    z-index: 100;
    position: relative;
    transition: .3s;
}

.banner-indicators label{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
}

.nav-banner img{
    max-width: 100%;
    transition:.4s;
}
.nav-banner:hover img{
    transform: scale(1.1,1.1);
    transition:.7s;
}