* {
    box-sizing: border-box;
}

.material-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.material-h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.material-container {
    margin: 0 auto 0;
    display: inline-block;
    background: #FFF;

}

.group {
    position: relative;
    margin-bottom: 45px;
}

.material-submit-group {
    overflow: hidden;
}

.material-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.material-submit {
    width: 300px;
    height: 60px;
    padding: 0;
    display: block;
    -webkit-appearance: none;
    overflow: hidden;
    background: #5264AE;
    color: white;

}

.material-submit span {
    position: absolute;
    width: 120px;
    height: 20px;
    left: calc(50% - 60px);
    top: calc(50% - 10px);
    text-align: center;
    font-size: 15px;
    z-index: 100;
}

.group .background {
    background: rgba(255, 255, 255, .5);
    width: 0%;
    height: 0%;
    margin: auto;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 0;

}

.material-submit:active .background {
    transition: 0.5s all;
    border-radius: 0%;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
}

.material-submit:active {
    transition: 0.5s all;
    color: #5264AE;
}

.material-input:focus {
    outline: none;
}

.material-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */

.material-input:focus ~ .material-label,
.material-input:valid ~ .material-label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

.material-input:focus ~ .bar:before,
.material-input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.material-input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
